.view-wrapper( ng-init="setHeading('Compose Note')")
  .content-container
      search-panel
        #sub-options-holder(ng-controller="composerCtrl")
          .sub-option
            //- p Title
            input(type="text" ng-model='submitTitle' placeholder="Title")
          .sub-option
            //- p Description
            input(type="text" ng-model='submitDesc' placeholder="Description")
          .sub-option
            //- p Subject
            input(type="text" ng-model="submitSubject" placeholder="Subject")
          .sub-option
            //- p Tags
            input(type="text" placeholder="Tags (not implemented atm)")
          .sub-option
            #editButton Write
            #submitButton(ng-click="submitNote()") Send
                  //- span(class="glyphicon glyphicon-send")
      .content-panel(show="false")
          i#expand-icon(class="fa fa-arrows-alt")
          i#like-icon(class="fa fa-heart" ng-click="likeNote()")
          i#close-icon(class="fa fa-send")
          i#shrink-submit(class="fa fa-expand")
          #editor-toolbar-holder
            text-angular-toolbar( name="toolbar" id='toolbar')
          #editor-background-fill
          div(ta-text-editor-class="form-content"
          ta-html-editor-class="form-content"
          ta-focussed-class="focussed"
          text-angular text-angular-name="editor"
          id="editor"
          name="editor"
          ng-model="holder.htmlContent"
          ta-target-toolbars='toolbar'
          on='false'
          )
         
//textarea(  id="from" style="width: 100%;display:none;" ng-bind-html="holder.trusted")
//- textarea(  id="from" style="width: 100%;display:none;"){{$parent.notes[0].content}}
